# Sistem dosyaları
.DS_Store
Thumbs.db

# Editör / IDE klasörleri
.vscode/
.idea/

# Derleme klasörleri
dist/
build/
.cache/
temp/

# Log dosyaları
*.log

# Ortam değişkenleri
.env
*.env

# Node.js varsa
node_modules/
