body {
  background-image: url('Gantepkale.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 120vh;
  margin: 0;
  padding: 0;
}

.giris-kutu {
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  padding: 30px;
  height: 100vh;
  box-shadow: 0 0 10px black;
}

.amblem {
  width: 100%;
  height: auto;
  margin-bottom: 30px;
}

.amblem2 {
  position: absolute;
  top: 20px;
  right: 30px;
  max-width: 30%;
  height: auto;
  z-index: 10;
  filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.7));
}

.giris-yazisi {
  font-size: 18px;
  font-weight: 500;
  margin-bottom: 40px;
}

.button-container .btn {
  font-size: 20px;
  margin-bottom: 28px;
  padding: 7px 20px;
  border-radius: 100px;
  color: rgb(216, 159, 75);
  font-weight: bold;
  border: 4px solid #c97b00;
  transition: all 0.2s ease-in-out;
}


.btn-yemekler,.btn-gezilecek,.btn-tarih {
  background-color: rgb(216, 159, 75);
}

.button-container .btn:hover {
  background-color: #c97b00;
  transform: translateY(-4px);
}

.button-container .btn:active {
  transform: translateY(2px);
  box-shadow: 0 2px 0 #a06000;
}



footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 50px;
  text-align: center;
  color: white;
  font-size: 16px;
  background-color: rgba(0, 0, 0, 0.7);
  padding: 10px 0;
  z-index: 1000;
}